<div class="tenant-select">
  <div *ngIf="!_selected">
    <p-autoComplete
      [(ngModel)]="query"
      [suggestions]="suggestions"
      (completeMethod)="search($event)"
      [minLength]="3"
      [dropdown]="false"
      (onSelect)="select($event)"
      [forceSelection]="true"
      field="displayName">
      <ng-template let-value pTemplate="item">
        <span class="display-name">{{value.displayName}}</span>
        <span class="display-address">{{value.displayAddress}}</span>
      </ng-template>
    </p-autoComplete>
  </div>
  <div *ngIf="_selected">
    <span class="tenant-name-and-address">
      <div class="display-name">{{_selected.displayName}}</div>
      <div class="display-address">{{_selected.displayAddress}}</div>
      <fa-icon (click)="unSelect($event)" icon="times-circle" size="2x"></fa-icon>
    </span>
  </div>
</div>
