<div *ngIf="buildingId && buildingUnit" class="building-unit-editor">
  <p-dialog class="building-unit-dialog" [(visible)]="visible" [style]="{width: '640px', height: 'auto'}" [resizable]="false" [modal]="true" [draggable]="false" [closable]="false">
    <p-header>
      <span *ngIf="isNew(buildingUnit); then new_building_unit else edit_building_unit"></span>
      <ng-template #new_building_unit>New building unit</ng-template>
      <ng-template #edit_building_unit>Edit building unit</ng-template>
    </p-header>

    <div class="p-grid p-justify-center">
      <div class="p-col-12 p-md-6">
          <span class="ui-float-label">
            <input id="building-unit-name" type="text" size="30" class="required" pInputText [disabled]="disabled" [(ngModel)]="buildingUnit.name">
            <label for="building-unit-name">Name</label>
          </span>
      </div>
      <div class="p-col-12 p-md-6">
          <span class="ui-float-label">
            <p-dropdown [inputId]="building-unit-type" [options]="types" [disabled]="disabled" [(ngModel)]="buildingUnit.type" optionLabel="name"></p-dropdown>
            <label for="building-unit-type">Type</label>
          </span>
      </div>
      <div class="p-col-12 p-md-6">
          <span class="ui-float-label">
            <p-spinner [inputId]="building-unit-storey" size="30" [disabled]="disabled" [(ngModel)]="buildingUnit.storey" [min]="-100" [max]="500"></p-spinner>
            <label for="building-unit-storey">Storey</label>
          </span>
      </div>
      <div class="p-col-12 p-md-6">
          <span class="ui-float-label">
            <p-spinner [inputId]="building-unit-area" size="30" [disabled]="disabled" [(ngModel)]="buildingUnit.area" [min]="0" [max]="1000000"></p-spinner>
            <label for="building-unit-area">Area</label>
          </span>
      </div>
      <div class="p-col-12 p-md-2">
        <p-button *ngIf="isNew(buildingUnit)" label="Create" icon="pi pi-check" class="ui-button-danger" (onClick)="submit()"></p-button>
        <p-button *ngIf="!isNew(buildingUnit)" label="Save" icon="pi pi-check" class="ui-button-danger" (onClick)="submit()"></p-button>
      </div>
      <div class="p-col-12 p-md-2">
        <p-button label="Cancel" icon="pi pi-times" class="ui-button-danger" (onClick)="cancel()"></p-button>
      </div>
    </div>
  </p-dialog>
</div>

