<div *ngIf="$building | async as building">
  <h2>{{building.streetName}} {{building.registryNumber}} / {{building.houseNumber}}, {{building.townName}}</h2>
  <p-button label="New building unit" icon="pi pi-plus" (onClick)="startNewBuildingUnit()"></p-button>

  <building-unit-editor
    [buildingId]="buildingId"
    [buildingUnit]="editedBuildingUnit"
    [visible]="buildingUnitEditorVisible"
    (onCancel)="onCancelBuildingUnitEditor()"
    (onSave)="onSaveBuildingUnitEditor()">
  </building-unit-editor>

</div>

<fa-icon [icon]="['far', 'building']" size="1x"></fa-icon>
