<div *ngIf="$building | async as building">
  <h2>{{building.streetName}} {{building.registryNumber}} / {{building.houseNumber}}, {{building.townName}}</h2>
  <p-button label="New building unit" icon="pi pi-plus" (onClick)="startNewBuildingUnit()"></p-button>

  <div *ngIf="$buildingUnits | async as buildingUnits">
    <div *ngFor="let buildingUnit of buildingUnits" class="p-col-12 p-sm-12 p-md-12 p-lg-12">
      <p-panel>
        <p-header class="building-unit-header">
          <div class="p-grid">
            <div class="p-col-8 name">{{buildingUnit.name}}</div>
            <div class="p-col-4 type">{{buildingUnit.type}}</div>
          </div>
        </p-header>
        <div class="p-grid">
          <div class="p-col-12 p-sm-12 p-md-6 name">Storey {{buildingUnit.storey}}</div>
          <div class="p-col-12 p-sm-12 p-md-6 type">Area {{buildingUnit.area}}</div>
        </div>
        <div class="p-grid">
          <div class="p-col-6">
            <button pButton type="button" label="Edit" icon="pi pi-pencil" class="ui-button-primary" (click)="openBuildingForm(building)"></button>
          </div>
          <div class="p-col-6">
            <button pButton type="button" label="Manage" icon="pi pi-list" class="ui-button-success" (click)="manageBuilding(building)"></button>
          </div>
        </div>
      </p-panel>
    </div>
  </div>

  <building-unit-editor
    [buildingId]="buildingId"
    [buildingUnit]="editedBuildingUnit"
    [visible]="buildingUnitEditorVisible"
    (onCancel)="onCancelBuildingUnitEditor()"
    (onSave)="onSaveBuildingUnitEditor()">
  </building-unit-editor>

</div>
