/* You can add global styles to this file, and also import other style files */
@import "variables";

body {
  max-width: $page-width;
  margin:0 auto 0 auto;

  label {
    display: block;
  }

  .ui-inputtext {
    width: 100%;
  }

  .ui-autocomplete {
    width: 100%;
  }

  .required,
  .required:hover {
    border: 1px solid #ffdada !important;
    background-color: #fff4f4 !important;
  }

}

