<h2>Tenants</h2>

<p-button label="New tenant" icon="pi pi-plus" (onClick)="startNewTenant()"></p-button>

<div>
  <label for="tenant">Search tenant</label>
  <p-autoComplete [(ngModel)]="val" [suggestions]="suggestedTenants" (completeMethod)="searchTenants($event)" [minLength]="3" [forceSelection]="true">
    <ng-template>

    </ng-template>
  </p-autoComplete>
</div>

<tenant-editor
  [tenant]="editedTenant"
  [visible]="tenantEditorVisible"
  (onCancel)="onCancelTenantEditor()"
  (onSave)="onSaveTenantEditor()">
</tenant-editor>
