<div class="lease-editor">
  <p-dialog class="lease-dialog" [visible]="_visible" [style]="{width: '640px', height: 'auto'}" [resizable]="false" [modal]="true" [draggable]="false" [closable]="false">
    <p-header>
      <span *ngIf="isNew(lease); then new_building_unit else edit_building_unit"></span>
      <ng-template #new_lease>New lease</ng-template>
      <ng-template #edit_lease>Edit lease</ng-template>
    </p-header>

    <div class="p-grid p-justify-center">
      <div class="p-col-4">
        <label for="lease-start-date">Start date</label>
        <p-calendar id="lease-start-date" [(ngModel)]="lease && lease.startDate" [required]="true" [disabled]="disabled"></p-calendar>
      </div>
      <div class="p-col-4">
        <label for="lease-end-date">End date</label>
        <p-calendar id="lease-end-date" [(ngModel)]="lease && lease.endDate" [required]="true" [disabled]="disabled"></p-calendar>
      </div>
      <div class="p-col-4">
        <label for="monthly-rent">Monthly rent</label>
        <input id="monthly-rent" pInputText [(ngModel)]="lease && lease.monthlyRent"/>
      </div>
      <div class="p-col-12 p-md-12">
        <label for="tenant">Tenant</label>
        <tenant-select id="tenant" (onSelect)="selectTenant($event)" (onUnSelect)="unSelectTenant($event)"></tenant-select>
      </div>
      <div class="p-col-12 p-md-6">
        <p-button *ngIf="isNew()" label="Create" icon="pi pi-check" class="ui-button-danger" (onClick)="submit()"></p-button>
        <p-button *ngIf="!isNew()" label="Save" icon="pi pi-check" class="ui-button-danger" (onClick)="submit()"></p-button>
      </div>
      <div class="p-col-12 p-md-6">
        <p-button label="Cancel" icon="pi pi-times" class="ui-button-danger" (onClick)="cancel()"></p-button>
      </div>
    </div>
  </p-dialog>
</div>

